body{background-color: #084177; }
hr{background-color:#1f4068;
border-style: none;
border-top-style:dotted;
border-color:#8ac4d0;
border-width: 5px;
width:90%;}

table{
border-style: none;}
h1{color: #66bfbf;}
h2 {color:#66bfbf;}
h3{color:#66bfbf;}
h4{color:#3fc5f0;}
a{color:#32afa9;}
h5{color:#3fc5f0;}
